body {
  margin: 0;
}

#container,
#intro {
  width: 80%;
  margin: auto;
}

#intro h2 {
  color: #0678A2;
}

#intro p {
  color: lightgray;
}

#header {
  color: white;
  background-color: #190066;
}

#intro {

}

#my-first-project a:link {
  text-decoration: none;
}

#my-first-project h3 {
  margin-top: -14px;
  margin-left: 20px;
  color: blue;
  background-color: white;
  width: 138px;
  padding-left: 10px;
}

#my-first-project {
  margin-top: 50px;
  border-style: solid;
  border-color: blue;
}

#first-project {
  overflow: auto;
}

#first-project a {
  line-height: 0;
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
}

#first-project a img {
  height: 100%;
 }

#first-project p {
  float: left;
  margin-left: 30px;
  width: 600px;
}

