body {
  margin: 0;
}

#container,
#intro {
  width: 80%;
  margin: auto;
}

#intro h2 {
  color: #0678A2;
}

#intro p {
  color: lightgray;
}

#header {
  color: white;
  background-color: #190066;
}

#intro {

}

.project-group h3 {
  margin-top: -14px;
  margin-left: 20px;
  background-color: white;
  padding-left: 10px;
}

#my-first-project h3 {
  color: #190066;
  width: 138px;
}

#hack-reactor h3 {
  color: blue;
  width: 490px;
}

#grace-hopper-precourse h3 {
  color: #00858A;
  width: 210px;
}

#grace-hopper-week-one h3 {
  color: #148A4D;
  width: 288px;
}

#grace-hopper-week-two h3 {
  color: #8BBA16;
  width: 289px;
}

.project-group {
  margin-top: 50px;
  border-style: solid;
}

#my-first-project {
  border-color: #190066;
}

#hack-reactor {
  border-color: blue;
}

#grace-hopper-precourse {
  border-color: #00858A;
}

#grace-hopper-week-one {
  border-color: #148A4D;
}

#grace-hopper-week-two {
  border-color: #8BBA16;
}

/* =========================================== */

.project {
  overflow: auto;
}

#first-project a,
#hr-final-project a,
#precourse-project a,
#grace-hopper-week-one-1 img,
.grace-hopper-week-one a,
.grace-hopper-week-two a {
  line-height: 0;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#grace-hopper-week-one-2 a,
#grace-hopper-week-one-3 a {
  border-style: solid;
  border-color: gray;
  border-width: 1px;

}

.project p {
  float: left;
  margin-left: 30px;
  width: 600px;
}

footer {
  height: 40px;
}
